.Card-Component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Card-Component .Card-Content {
  width: 500px;
  background-color: #110f0f;
}
